<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Riddle App</title>
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
</head>

<body>
    <h1>One Useless Random Riddle For You</h1>
    <div>
        <h2>Riddle:</h2>
        <p>
            <%= riddle.riddle %>
        </p>

        <button onclick="toggleAnswer()">
            <i id="eye" class="fa-sharp fa-solid fa-eye fa-eye-slash"></i>
        </button>

        <div id="answerSection" style="display: none;">
            <h2>Answer:</h2>
            <p>
                <%= riddle.answer %>
            </p>
        </div>
    </div>

    <script>
        function toggleAnswer() {
            const answerSection = document.getElementById('answerSection');
            const eye = document.getElementById("eye");

            if (answerSection.style.display === 'none') {
                answerSection.style.display = 'block';
                eye.classList.remove("fa-eye");
                eye.classList.add("fa-eye-slash");
            } else {
                answerSection.style.display = 'none';
                eye.classList.add("fa-eye");
                eye.classList.remove("fa-eye-slash");
            }
        }

    </script>

</body>

</html>