@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500;700&display=swap');


* {
    font-family: 'Dancing Script', cursive;
    font-size: 1.3rem;
    background-color: rgb(187, 187, 187);
    color: #555555;
}

body {
    border: 5px #555555 groove;
    border-radius: 6px;
    min-height: 100vh;
    padding-bottom: 1rem;
    outline: none;
    margin: none;
    box-sizing: border-box;
}

h1 {
    display: flex;
    justify-content: center;
    font-size: 1.7rem;
    color: #08aa4b;
    text-decoration: underline;
    padding: 1rem;
    margin: 1rem 0rem;
}

h1>i {
    color: #08aa4b;
    text-decoration: none;
    text-shadow: 5px 1px 0px #555555;
}

h2 {
    display: flex;
    justify-content: center;
    color: #08aa4b;
}


p {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

#eye-div {
    display: flex;
    justify-content: center;
}

#eye {
    display: block;
    margin: 0 auto;
    zoom: 150%;
    color: #08aa4b;
    cursor: pointer;
}

#eye:hover {
    transition: .2s;
    transform: scale(1.1);
}